# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv

# IDE
.vscode/
.idea/

# Данные
*.db
*.sqlite
*.csv
data/

# Env
.env

# Logs
*.log

# Telegram bot config (содержит токен!)
config.pydata/ 
